body {
  background-image: linear-gradient(green, yellow, orange);
}
.jumbotron{
  background-color:orange;
  color: snow;
}
h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.container{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn {
  margin: 25%;
  background-color: red;
}
#americano, #mocha, #frapuccino {
  display: none;
}
#csharp {
  width: 30%;
}
#python {
  width: 35%;
}
#ruby {
  width: 30%;
}