body {
  background-image: linear-gradient(green, yellow, orange);
}

.container{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.jumbotron{
  background-color:orange;
  color: snow;
}
h1, h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.col-md-4 {
  margin: 2%;
  border: solid;
  padding: 1px;
  background-color: seashell;
  border-color: yellow orange green orangered;
  font-family: sans-serif;
}
#fun, #color, #iceCream, #animal, #coffee {
  background-color:azure;
  margin: 2%;
}
.btn {
  margin: 25%;
  background-color:powderblue;
}
#americano {
  display: none;
  margin-left: 40%;
  margin-top: -20%;
}
#mocha {
  display: none;
  margin-left: 40%;
  margin-top: -36%;
}
#frapuccino {
  display: none;
  margin-left: 40%;
  margin-top: -37%;
}
#csharp {
  width: 30%;
}
#python {
  width: 35%;
}
#ruby {
  width: 30%;
}